# Compiled Object files
*.o
*.in
*.m4
*.cache
configure
depcomp
install-sh
missing
Makefile
config.*
*.deps
stamp-h1
*.libs
*.lo
*.la
libtool
ltmain.sh
cmclient

# Other stuff
.DS_Store
*.swp
server/src/cmserver
client/src/cmclient
*.valgrind
